// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


body{
    background-color: #fff !important
}

a{
    text-decoration: none !important
}
.margin-top-ex{
    margin-top: 7rem;
}



.card-body{
    background-color: #fff;
}

// Bootstrap
@import 'bootstrap/scss/bootstrap';
